@model API.Models.User
@{
    ViewData["Title"] = "Register";
}

@{
    Layout = "~/Views/Shared/PrevLayout.cshtml";
}

<div class="form">
    @using (Html.BeginForm("Register", "Chatting", FormMethod.Post))
    {
        <h4><strong>Ingrese un usuario y una contraseña</strong></h4>
        <h5>@Html.Label("Usuario")</h5>
        @Html.TextBoxFor(model => model.Username, new { placeholder = "Usuario" })
        <br />
        <br />
        <h5>@Html.Label("Contraseña")</h5>
        @Html.PasswordFor(model => model.Password, new { placeholder = "**********" })
        <br />
        <br />
        <input type="submit" name="submit" value="Registrar" />
    }
    <br />
</div>

<style type="text/css">
    .form {
        margin: 0 auto;
        width: 600px;
        text-align: center;
    }
</style>
