@model Conversation

<br />
<h2>@Html.DisplayFor(model => model.Receiver)</h2>
<br />
@foreach (var item in Model.Messages)
{
    <strong>@Html.DisplayFor(modelItem => item.Sender)</strong> <textarea>@Html.DisplayTextFor(modelItem => item.Text)</textarea>
}