@model ChattingDesign.Models.User
@{
    ViewBag.Title = "Login";
}

@{
    Layout = "~/Views/Shared/PrevLayout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Chatting", FormMethod.Post))
{
    <h4><strong>Ingrese su usuario y contraseña</strong></h4>
    <br />
    @Html.Label("Usuario")
    <br />
    @Html.TextBoxFor(model => model.Username, new { placeholder = "Usuario" })
    <br />
    @Html.Label("Contraseña")
    <br />
    @Html.Password("Password", "", new { placeholder = "******" })
    <br />
    <br />
    <input type="submit" name="submit" value="Login" />
}
